---
import Layout from '../layouts/Layout.astro';
import hoverSvg from '../assets/hover.svg';
---

<Layout>
  <div class="min-h-screen bg-black flex flex-col items-center justify-center relative overflow-hidden">
    <div class="absolute -top-20 -left-20 w-[600px] h-[600px] transform rotate-180">
      <img src={hoverSvg.src} alt="" class="w-full h-full object-cover" />
    </div>
    
    <div class="z-10 text-white text-center px-4">
      <h1 class="text-5xl md:text-7xl font-bold mb-2">Spotify</h1>
      <h2 class="text-7xl md:text-9xl font-extrabold tracking-tight">
        Wrapped 2024
      </h2>
    </div>
    
    <div class="absolute -bottom-20 -right-20 w-[600px] h-[600px]">
      <img src={hoverSvg.src} alt="" class="w-full h-full object-cover" />
    </div>
  </div>
</Layout>